label.control-label {
        font-size: 15px;
        font-weight: bold;
      }
      
      
      i.glyphicon.glyphicon-play {
      color: #e1210d; line-height: 2}
      i.glyphicon.glyphicon-pause {
      color: #e1210d; line-height: 2}